:root {
     --background-color: rgba(249, 249, 253, 0.33);
}

body {
    background-color: var(--background-color);
}

.navbar {
    margin-bottom: 50px;
}

.navbar-default{
    border-bottom: #fcfcfc;
    border-bottom: 1px solid #d9981a;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}

.navbar-default .navbar-brand {
    // color: black;
}

.dropdown-header {
    font-weight: bold;
    font-size: 1.3rem;
}

.list-group-item:nth-child(odd) {
	//color: #fff;
	//background-color: rgba(239, 190, 0, 0.31);
	//border-color: #e1e1d0;
}
a {
    color: black;
}

.title{
    color:#d9981a !important;
    display:inline;
}

.sub-title{
    display:inline;
}

.title-padding{
    padding:15px;
}

.jumbotron {
    background-color: #fcfcfc;
}

.btn-primary {
    background-color: #d9981a !important;
}

.resources-padding{
    padding-top:20px;
}

.correct{
    background: rgba(0, 239, 37, 0.06);
}

.uncorrect{
    background: rgba(239, 0, 15, 0.05);
}

