:root {
    --background-color: #EFEFF3;
}

body {
    background-color: var(--background-color);
}

form .alert {
    display: none;
}

.dropdown-header {
    font-weight: bold;
    font-size: 1.3rem;
}
