{% extends 'nidala/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/usermanagement.css' %}">
{% endblock css %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="panel panel-default full-page-panel">
          <div class="panel-heading">
            <h3 class="panel-title">Logg inn</h3>
          </div>
          <div class="panel-body panel-content">
            <form action="{% url 'user:login' %}" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="form-group">
                <a id="forgot-password-link" href="{% url 'user:forgot-password' %}">Glemt passord?</a>
              </div>
              <input hidden value="{{ next }}" name="next">
              {% buttons %}
                <button type="submit" class="btn btn-primary submit-button">Logg inn</button>
              {% endbuttons %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
