{% extends 'nidala/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
{% endblock css %}

{% block content %}

  <!-- Show statistics based on exercise/quizz -->
  <div class="col-md-8 col-md-offset-2">
    <div class="container-fluid">
      <h3>{{ quiz }}</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Spørsmål</th>
          <th>Antall svar</th>
          <th>Rette svar</th>
          <th>Korrektgrad</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
          <tr>
          <td>{{ question }}</td>
          <td>{{ question.answer_count }}</td>
          <td>{{ question.correct_count }}</td>
          <td>{{ question.correct_grade|floatformat:"0" }} %</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock content %}
