{% extends 'nidala/base.html' %}

{% block content %}
  {% load static %}
  {% load quizFilters %}

  <!-- Result screen for quiz-->
  <div class="col-md-4">
    <div class="col-md-12" style="padding-bottom: 8px">
      <div><h5 class="title ">R</h5><h5 class="sub-title">esultat</h5></div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-body">Du svarte riktig på {{ attempt.correct_count }} av {{ questions.count }} spørsmål, som
            tilsvarer {{ attempt.correct_percent }}% av {{ quiz.pass_percent }}% nødvendig for bestått.
          </div>
        </div>
      </div>
    </div>

    <!-- Grade -->
    <div class="col-md-12">
      <div>
        <h5>Karakter</h5>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-6" align="center">
            <h1>{{ attempt.grade }}</h1>
          </div>
          <div class="col-md-6" align="center">
            <img src="{% static attempt.image %}" alt="My image" width="105px"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div>
        <!-- Displays resources based on questions answered wrong -->
        <h5>Basert på feil: Les følgende ressurser</h5>
      </div>
      <ul class="list-group">
        {% for resource in resources %}

          <a href="{{ resource.url }}" target="_blank" class="list-group-item">
            {{ resource.title }} tilhører spørsmål {{ resource.question }}
          </a>
        {% empty %}
          <li class="list-group-item">
            Ingen ressurser tilgjengelig
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Question Overview -->
  <div class="col-md-8">
    <div class="col-md-12" style="padding-bottom: 8px">
      <div><h5 class="title ">D</h5><h5 class="sub-title">etaljert resultat</h5></div>
    </div>
    <div class="col-md-12" style="padding-bottom: 8px">
      <ul class="list-group">
        {% for question in questions %}
          <a href="{% url 'quiz' quiz.hash attempt.hash question.id %}"
             class="list-group-item {{ question.status }} {{ question.current }}">{{ question.title }}</a>
        {% endfor %}
      </ul>
      <br>
    </div>
  </div>
{% endblock content %}
