{% extends 'nidala/base.html' %}

{% block content %}
    {% load static %}
    {% load quizFilters %}

    <div class="col-md-4">
        <div class="col-md-12" style="padding-bottom: 8px">
            <div><h5 class="title ">R</h5><h5 class="sub-title">esultat</h5></div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-body">Du svarte riktig på {{ correct }} av {{ questions.count }} spørsmål, som
                        tilsvarer {{ correct_percent }}% av {{ quiz.pass_percent }}% nødvendig for bestått.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <h5>Karakter</h5>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6" align="center">
                        <h1>{{ grade }}</h1>
                    </div>
                    <div class="col-md-6" align="center">
                        {% if grade != 'F' %}
                            <img src="{% static "images/passed.png" %}" alt="My image" width="105px"/>
                        {% else %}
                            <img src="{% static "images/failed.png" %}" alt="My image" width="105px"/>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div>
                <h5>Basert på feil: Les følgende ressurser</h5>
            </div>
            <ul class="list-group">
                {% if resources|filterResourcesCount:questions > 0 %}
                    {% for resource in resources|filterResourcesByQuiz:questions %}
                        <a href="{{ resource.url }}" target="_blank" class="list-group-item">
                            {{ resource.title }}
                        </a>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        Ingen ressurser tilgjengelig
                    </li>
                {% endif %}
            </ul>
        </div>


    </div>
    <div class="col-md-8">
        <div class="col-md-12" style="padding-bottom: 8px">
            <div><h5 class="title ">D</h5><h5 class="sub-title">etaljert resultat</h5></div>
        </div>
        <div class="col-md-12" style="padding-bottom: 8px">
            <ul class="list-group">
                {% for question in questions %}
                    <li href="{% url 'quiz' quiz.hash attempt.hash question.id %}" class="list-group-item {% if answers|filterAnswersGetStatus:question == STATUS_QUESTION.CORRECT %} correct {% endif %} {% if answers|filterAnswersGetStatus:question == STATUS_QUESTION.UNCORRECT %} uncorrect {% endif %}">
                        {{ question.title }}
                    </li>
                {% endfor %}
            </ul>
            <br>
        </div>
    </div>
{% endblock content %}
