{% extends 'nidala/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
{% endblock css %}

{% block content %}

    <div class="col-md-4">
        <ul class="list-group">
            <div>
                <h5>Naviger</h5>
            </div>
            {% for question in questions %}
 
                {% if question.status == 0 %}
                    <a href="{% url 'quiz' quiz.hash attempt.hash question.id %}" class="list-group-item">
                        {% elif question.status == 1 %}
                    <a href="{% url 'quiz' quiz.hash attempt.hash question.id %}" class="list-group-item correct">
                        {% elif question.status == 2 %}
                    <a href="{% url 'quiz' quiz.hash attempt.hash question.id %}" class="list-group-item uncorrect">
                {% endif %}
            {{ question.title }}
            </a>
            {% endfor %}
            <br>
            <a href="{% url 'quizResult' quiz.hash %}" class="btn btn-primary submit-button">Gå til resultat</a>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form method="POST">{% csrf_token %}
                        <input type=hidden name="question_id" value="{{ question.id }}">
                        <div>
                            <h5>{{ question.title }}</h5>
                        </div>
                        {% if user_answered and user_current_answer_correct %}
                            <div class="alert alert-success" role="alert">
                                <span class="glyphicon glyphicon glyphicon-check" aria-hidden="true"></span>
                                <span class="sr-only">Riktig:</span>
                                Svaret var korrekt!
                            </div>
                        {% endif %}
                        {% if user_answered and not user_current_answer_correct %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon glyphicon-check" aria-hidden="true"></span>
                                <span class="sr-only">Feil:</span>
                                Dette var ikke helt riktig dessverre!
                            </div>
                        {% endif %}
                        <ul class="list-group"> {#Iterer gjennom alle spørsmålene#}
                            <li class="list-group-item">
                                <div class="form-group">
                                    {% if question.type == "CHECKBOX" %}

                                        {% for alternative in alternative_boxes %}
                                            <div class="radio">
                                                <label><input type="checkbox" name="answer" value="{{ alternative.id }}">{{ alternative.title }}</label>
                                            </div>
                                        {% endfor %}

                                    {% elif question.type == "RADIOBOX" %}

                                        {% for alternative in alternative_boxes %}
                                            <div class="radio">
                                                <label><input type="radio" name="answer" value="{{ alternative.id }}">{{ alternative.title }}</label>
                                            </div>
                                        {% endfor %}

                                    {% elif question.type == "TEXT" %}

                                        <label for="text" class="col-2 col-form-label">Skriv inn svaret i boksen under</label>
                                        <div class="col-10">
                                            <input class="form-control" type="text" name="answer" value="{{ alternative_text.answer }}" id="text">
                                        </div>

                                    {% elif question.type == "CODE" %}

                                        <label for="editor" class="col-2 col-form-label">Skriv inn koden i boksen under</label>
                                        <div id="editor" style="min-height:400px; border-radius: 5px !important;"></div>
                                        <textarea name="answer" style="display:none"></textarea>
                                        <script src="https://cdn.jsdelivr.net/ace/1.2.6/min/ace.js" type="text/javascript" charset="utf-8"></script>
                                        <script>
                                            var editor = ace.edit("editor");
                                            var textarea = $('textarea[name="answer"]');
                                            editor.getSession().setMode("ace/mode/javascript");
                                            editor.getSession().on("change", function () {
                                                textarea.html($.trim(editor.getSession().getValue()));
                                            });
                                        </script>

                                    {% else %}

                                        Ukjent type spørsmål

                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        <button type="submit" class="btn btn-primary submit-button">Svar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
