{% extends 'nidala/base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">Quiz</h1>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <ul class="list-group">
                        {% for subject in subjects %}
                            <li class="list-group-item">
                                <a href="{% url 'quizList' subject.code %}">{{ subject.code }} {{ subject.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
