{% extends 'nidala/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sx-12 col-md-12">
                    <div class="jumbotron">
                        <h1 class="title">N</h1><h2 class="sub-title">idala - smart læring</h2>
                        <p>Nidala er et quizsystem som skal hjelpe studentene til å lettere få med seg de viktigste
                            momentene i pensum ved å gjennta nøkkelspørsmål. Nidala lager et skreddersydd quizsystem til
                            hver
                            enkelt student ved å automatisk leggge inn tidligere feilbesvarte spørsmål i fremtidige
                            quizer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
